  	<style>
  		html, body {height:100%; margin:0px;}
	  	#section1 {padding-top : 50px ;
	  			   height : 100% ;
	  			   color : #fff ;
	  			   background-image : url("photo-1429051883746-afd9d56fbdaf 2.jpg");
	  			   background-attachment: fixed;
	  			   background-size: cover;
	  			   margin-top: -10px; }
	  	#section2 {padding-top:50px;height:100%;color: #fff; background-color: #2d2d30;}
	  	#section3 {padding-top:50px;height:100%;color: #fff; background-color: #ff9800;}
	  	.navbar {margin: 0; border-radius: 0;}
	  	.jumbotron {margin: 0; background-color: orange; text-align: center; padding-top: 5px; padding-bottom: 5px;}
	  	.affix {
		    top:0;
		    width: 100%;
		    z-index: 9999 !important;
		}
		.affix ~ .container-fluid {
	    	position: relative;
	    	top: 50px;
	    }
	    .form-inline .form-group {
		    margin-left: 0;
		    margin-right: 0;
		}
		.img-fit {
			width: 100%;
			height: auto;
		}
    .form-control-feedback {
    top: 0;
    right: 15px;
    }
	</style>
